$unit-tiny: 3px;
$unit-small: 5px;
$unit: 10px;
$unit-large: 20px;
$unit-huge: 30px;

* {
  margin: 0;
  padding: 0;

  font-size: 1rem;
  font: inherit;
}

body {
  padding: $unit $unit-huge;
}

main {
  max-width: 860px;
  margin: 0 auto;
}

section {
  margin-bottom: $unit;
}

h1 {
  text-align: center;
  font-size: 2.5em;

  margin-bottom: $unit;
}

h2 {
  font-size: 1.5em;

  margin-bottom: $unit;
}

h3 {
  font-weight: 700;

  margin-bottom: $unit-small;
}

em {
  float: right;
  font-weight: 400;
}

dl {
  &::after {
    display: table;
    content: '';
    clear: both;
  }

  dt,
  dd {
    float: left;
    margin-bottom: $unit-small;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  dt {
    width: 20%;
  }

  dd {
    width: 80%;
  }
}

ul {
  list-style: none;
  margin-bottom: $unit;

  &.bulleted {
    list-style-type: square;

    li {
      margin-left: $unit-huge;
    }
  }

  &.inline {
    list-style: none;
    display: inline-block;

    position: relative;
    left: 50%;
    transform: translateX(-50%);

    li {
      display: inline;

      &:not(:first-of-type) {
        margin-left: $unit-large;
      }
    }
  }
}

p {
  line-height: 1.2;
  margin-bottom: $unit-small;
}

a {
  color: blue;

  @media print {
    color: black;
    text-decoration: none;
  }
}

.multi-column {
  display: flex;
  flex-wrap: wrap;

  .column {
    width: 50%;
  }
}
