:root {
  --foreground-color: #444;
  --background-color: #fff;

  --title-font-size: 5em;
  --subtitle-font-size: 2em;
  --link-font-size: 1em;

  @media (max-width: 400px) {
    --title-font-size: 4rem;
    --link-font-size: 1.25em;
  }
}

* {
  margin: 0;
  padding: 0;
}

.background-canvas {
  position: absolute;
  top: 0;
  left: 0;

  z-index: -1;
}

.container {
  background: var(--background-color);

  width: 60%;
  max-width: 400px;
  @media (max-width: 400px) {
    width: 100%;
    max-width: 100%;
  }

  margin: 20vh auto;

  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  .title {
    margin-bottom: 10px;

    text-align: center;

    font-size: var(--title-font-size);
    color: var(--foreground-color);
  }

  .subtitle {
    margin-bottom: 30px;

    text-align: center;

    font-size: var(--subtitle-font-size);
    color: var(--foreground-color);
  }

  .nav {
    .links-list {
      list-style: none;

      display: flex;

      .links-list-item {
        flex: 1;
        text-align: center;
        position: relative;

        margin: 0 10px;
        padding: 10px 0;

        cursor: pointer;

        .link {
          font-size: var(--link-font-size);
          color: var(--foreground-color);
          text-decoration: none;

          &::before,
          &::after {
            display: block;
            content: '';

            position: absolute;
            left: 0;
            top: 0;

            width: 100%;
            height: 100%;

            opacity: 0;

            transition: all 0.2s ease-out;
          }

          &::before {
            border-top: 1px solid var(--foreground-color);
            transform: translateY(50%);
          }
          &::after {
            border-bottom: 1px solid var(--foreground-color);
            transform: translateY(-50%);
          }

          &:hover {
            &::before, &::after {
              transform: translateY(0%);
              opacity: 1;
            }
          }
        }
      }
    }
  }
}
