:root {
  // https://type-scale.com/ - 1.618
  --unit-sm: 16px;
  --unit-md: 26px;
  --unit-lg: 42px;
  --unit-xl: 67px;
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-size: var(--unit-sm);
  font-weight: 400;
}

.page-container {
  max-width: 640px;
  margin: 0 auto;
}

.header {
  display: grid;
  grid-template-columns: max-content auto;
  column-gap: var(--unit-lg);

  margin-bottom: var(--unit-md);

  &__title {
    font-size: var(--unit-xl);
    line-height: 1;
  }

  &__contact-list {
    list-style: none;

    &__item {
      font-size: var(--unit-sm);
    }
  }
}

.resume-section {
  margin-bottom: var(--unit-md);

  &__title {
    font-size: var(--unit-md);
    margin-bottom: var(--unit-sm);
  }

  &__body {
    font-size: var(--unit-sm);

    @at-root &--two-columns {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: var(--unit-sm);
    }
  }
}

.section-detail {
  margin-bottom: var(--unit-md);

  &__title {
    margin-bottom: var(--unit-sm);

    font-size: var(--unit-sm);
    font-weight: 600;
  }

  &__description {
    margin-bottom: var(--unit-sm);

    font-size: var(--unit-sm);
  }
}

.experience-list {
  display: grid;
  grid-template-columns: minmax(auto, 200px) auto;
  gap: var(--unit-sm);

  @at-root &--thin {
    grid-template-columns: minmax(auto, 150px) auto;
  }

  &__name {
  }

  &__description {

  }
}

.technology-list {
  list-style-type: none;
}
